apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.agent.name }}-configmap
data:
{{- if .Values.agent.container.config }}
{{- if .Values.envoy.enabled }}
  # Override API connection to use local Envoy egress
  AGENT_SERVERHOST: '127.0.0.1'
  AGENT_SERVERPORT: '{{ .Values.envoy.ports.egressGrpc }}'
  AGENT_USEPLAINTEXT: "true"
  # Include other config values except the server connection ones
  {{- range $key, $value := .Values.agent.container.config }}
  {{- if and (ne $key "AGENT_SERVERHOST") (ne $key "AGENT_SERVERPORT") (ne $key "AGENT_USEPLAINTEXT") }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
  {{- end }}
{{- else }}
{{ toYaml .Values.agent.container.config | indent 2}}
{{- end }}
{{- end }}
