{{- if .Values.envoy.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.front.name }}-envoy-config
  labels:
    app: {{ .Values.front.name }}
data:
  envoy.yaml: |
    admin:
      address:
        socket_address:
          address: 0.0.0.0
          port_value: {{ .Values.envoy.ports.admin }}

    static_resources:
      listeners:
        # HTTPS inbound listener (from ingress/external)
        - name: https_inbound
          address:
            socket_address:
              address: 0.0.0.0
              port_value: {{ .Values.envoy.ports.secureHttp }}
          filter_chains:
            - filters:
                - name: envoy.filters.network.http_connection_manager
                  typed_config:
                    "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
                    stat_prefix: https_inbound
                    codec_type: AUTO
                    route_config:
                      name: local_route
                      virtual_hosts:
                        - name: local_service
                          domains: ["*"]
                          routes:
                            - match:
                                prefix: "/"
                              route:
                                cluster: local_http
                    http_filters:
                      - name: envoy.filters.http.router
                        typed_config:
                          "@type": type.googleapis.com/envoy.extensions.filters.http.router.v3.Router
              transport_socket:
                name: envoy.transport_sockets.tls
                typed_config:
                  "@type": type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.DownstreamTlsContext
                  common_tls_context:
                    tls_certificates:
                      - certificate_chain:
                          filename: /etc/envoy/certs/tls.crt
                        private_key:
                          filename: /etc/envoy/certs/tls.key

        # Egress listener for api HTTP (front connects here, envoy does TLS to api)
        - name: api_http_egress
          address:
            socket_address:
              address: 127.0.0.1
              port_value: 15001
          filter_chains:
            - filters:
                - name: envoy.filters.network.http_connection_manager
                  typed_config:
                    "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
                    stat_prefix: api_http_egress
                    codec_type: AUTO
                    http_protocol_options:
                      accept_http_10: true
                    route_config:
                      name: api_route
                      virtual_hosts:
                        - name: api_service
                          domains: ["*"]
                          routes:
                            - match:
                                prefix: "/"
                              route:
                                cluster: api_https
                    http_filters:
                      - name: envoy.filters.http.router
                        typed_config:
                          "@type": type.googleapis.com/envoy.extensions.filters.http.router.v3.Router

        # Egress listener for api gRPC
        - name: api_grpc_egress
          address:
            socket_address:
              address: 127.0.0.1
              port_value: 15002
          filter_chains:
            - filters:
                - name: envoy.filters.network.http_connection_manager
                  typed_config:
                    "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
                    stat_prefix: api_grpc_egress
                    codec_type: HTTP2
                    route_config:
                      name: api_grpc_route
                      virtual_hosts:
                        - name: api_grpc_service
                          domains: ["*"]
                          routes:
                            - match:
                                prefix: "/"
                              route:
                                cluster: api_grpcs
                    http_filters:
                      - name: envoy.filters.http.router
                        typed_config:
                          "@type": type.googleapis.com/envoy.extensions.filters.http.router.v3.Router

      clusters:
        # Local HTTP backend (front container)
        - name: local_http
          type: STATIC
          connect_timeout: 5s
          load_assignment:
            cluster_name: local_http
            endpoints:
              - lb_endpoints:
                  - endpoint:
                      address:
                        socket_address:
                          address: 127.0.0.1
                          port_value: {{ .Values.front.container.port }}

        # Outbound to api HTTPS (with TLS)
        - name: api_https
          type: STRICT_DNS
          connect_timeout: 5s
          load_assignment:
            cluster_name: api_https
            endpoints:
              - lb_endpoints:
                  - endpoint:
                      address:
                        socket_address:
                          address: {{ .Values.api.name }}
                          port_value: {{ .Values.api.service.port }}
          transport_socket:
            name: envoy.transport_sockets.tls
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.UpstreamTlsContext
              common_tls_context:
                validation_context:
                  trusted_ca:
                    filename: /etc/envoy/certs/ca.crt

        # Outbound to api gRPCS (with TLS)
        - name: api_grpcs
          type: STRICT_DNS
          connect_timeout: 5s
          http2_protocol_options: {}
          load_assignment:
            cluster_name: api_grpcs
            endpoints:
              - lb_endpoints:
                  - endpoint:
                      address:
                        socket_address:
                          address: {{ .Values.api.name }}
                          port_value: {{ .Values.api.service.grpcPort }}
          transport_socket:
            name: envoy.transport_sockets.tls
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.UpstreamTlsContext
              common_tls_context:
                validation_context:
                  trusted_ca:
                    filename: /etc/envoy/certs/ca.crt
{{- end }}
