apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.front.name }}-configmap
data:
{{- if .Values.front.container.config }}
{{- if .Values.envoy.enabled }}
  # Override API connection to use local Envoy egress
  API_INTERNAL_HOST: '127.0.0.1'
  API_HTTP_INTERNAL_PORT: '{{ .Values.envoy.ports.egressHttp }}'
  API_GRPC_INTERNAL_PORT: '{{ .Values.envoy.ports.egressGrpc }}'
  # Include other config values except the API connection ones
  {{- range $key, $value := .Values.front.container.config }}
  {{- if and (ne $key "API_INTERNAL_HOST") (ne $key "API_HTTP_INTERNAL_PORT") (ne $key "API_GRPC_INTERNAL_PORT") }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
  {{- end }}
{{- else }}
{{ toYaml .Values.front.container.config | indent 2}}
{{- end }}
{{- end }}
{{- if eq .Values.mode "saas" }}
  UI_POSTHOG_ANALYTICS_API_HOST: 'https://eu.posthog.com'
  UI_ENVIRONMENT: "cloud"
{{- else}}
  UI_ENVIRONMENT: "on-premise"
{{- end }}
