apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.front.name }}
  labels:
    group: {{ .Values.front.group }}
spec:
  type: {{ .Values.front.service.type }}
  selector:
    app: {{ .Values.front.name }}
  ports:
    {{- if .Values.envoy.enabled }}
    - port: {{ .Values.front.service.port }}
      targetPort: {{ .Values.envoy.ports.secureHttp }}
      name: https
    {{- else }}
    - port: {{ .Values.front.service.port }}
      targetPort: {{ .Values.front.container.port }}
      name: defaultport
    {{- end }}
